.git
.github
.zed-pkg
**/.zed-pkg
.env
.env.*
**/.env
**/.env.*
.netrc
**/.netrc
.npmrc
**/.npmrc
.pypirc
**/.pypirc
.git-credentials
**/.git-credentials
.ssh
**/.ssh
.aws
**/.aws
.config/gcloud
**/.config/gcloud
.docker/config.json
**/.docker/config.json
.vault-token
**/.vault-token
*.tfstate
*.tfstate.*
*.pem
*.key
*.p12
*.pfx
*.tar
*.tar.gz
*.zip
zed-oci.tar
